@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Fightree", sans-serif;
}

a,
p,
button,
ul,
li {
  font-family: "Fightree", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fightree", serif;
}

@font-face {
  font-family: Astrid;
  src: url(../../fonts/Astrid.otf);
  font-weight: 700;
}
@font-face {
  font-family: Astrid;
  src: url(../../fonts/Astrid.woff);
  font-weight: 700;
}
