// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

// Font Face for Astrid
// @font-face {
//   font-family: "Astrid";
//   src: url("../../fonts/Astrid.otf") format("opentype");
//   font-weight: 700;
// }
// @font-face {
//   font-family: "Astrid";
//   src: url("../../fonts/Astrid.woff") format("woff");
//   font-weight: 700;
// }

// Color Variables
$primary: #00a651;
$secondary: #fccf03;
$text-color: #000;

// Base Typography
body {
  font-family: "Figtree", sans-serif;
  color: $text-color;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

p,
a,
button,
ul,
li {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  // color: $text-color;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

h4 {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.para {
  font-family: "Figtree", sans-serif;
  font-size: 18px;
  color: $text-color;
  font-weight: 300;
}
// Buttons
.btn {
  background-color: $primary;
  color: #fff;
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: $secondary;
    color: #fff;
  }
}

// Links
a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

.section-title {
  font-family: Astrid;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0.5rem;
  color: $primary;
}

.section-subtitle {
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #000;
}
