@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$primary: #00a651;
$secondary: #fccf03;
body{
  font-family: "Figtree", sans-serif;
}
.btn {
  background-color: $primary;
  color: #fff;
  display: block;
  margin-top: 1rem;
  text-align: center;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: $secondary;
    color: #fff;
  }
}
a {
  color: #fff;
}
