.promo-banner{
    display:flex;
    gap: 10px;
    padding: 12px;
    margin: 3rem 6rem;

    .img1{
        width: 50%;
        height: auto;
        
        img {
            height: 15aaaaaaaaaaaaaaarem;
            width: 100%;
        }
    }
    .img2{
        width: 50%;
        height: auto;
        
        img {
            height: 15rem;
            width: 100%;
        }
    }
}