.topbar {
  background-color: $primary; // Bootstrap variable or override in _variables.scss
  color: white;

  .icon {
    display: inline-flex;
    align-items: center;

    svg {
      display: block;
    }
  }

  li {
    font-size: 0.9rem;
  }
}
